The following text contains a list of tasks

Return a json file of the following form:
[
    "first task text",
    second task text",
    etc.
]

Tasks:
{% TASKS %}

Your response must only contain the json file
The order of tasks must be preserved