Your goal is to solve a given task in R
In the context section resides already existing code, do not copypaste lines if possible

Context:
```r
{% CONTEXT %}
```

Task:
{% TASK %}

Your response must only contain code
The result of code execution must be printed